.menu_section-search {
  padding: 13px 15px 12px;
}
.menu_section-search-input {
  padding: 4px 8px;
}
td,
th {
  text-align: center;
}

.table-time-wrap {
  display: flex;
  flex-direction: column;
}
.prev-ordered {
  margin-top: 12px;
  margin-bottom: 8px;
  text-align: center;
}
